*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
/.uploaded-cookbook-version.json
/error.txt
/hide/test.rb
/hide/zookeepr.gemspec
/report.txt
/spec/git_spec.rb
/trace.txt
